server:
  port: 8081

cors:
  allowed-origins:
    - http://localhost:3000
    - http://localhost:8080
    - http://localhost:8081
    - http://127.0.0.1:5500
    - http://localhost:63342
    - https://staffflow.kz
    - https://www.staffflow.kz

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/hrms-spring-jpa
    username: postgres
    password: postgres
  jpa:
    generate-ddl: true
    hibernate:
      ddl-auto: update
  mail:
    host: smtp.gmail.com
    port: 587
    username: zzhalelov@gmail.com
    password: hclq fpgs pqdu jfti
    properties:
      mail.smtp.auth: true
      mail.smtp.starttls.enable: true

springdoc:
  swagger-ui:
    path: /swagger-ui.html
  api-docs:
    path: /api-docs

management:
  health:
    mail:
      enabled: false
  endpoints:
    web:
      exposure:
        include: health, info, prometheus

  endpoint:
    prometheus:
      enabled: true
